.button {
  padding: .4rem;
  color: white;
  background-color: #1f1f1f;
  border: 1px solid #383838;
  border-radius: .8rem;

  transition: border-color .3s;
}

.button:hover {
  border-color: blueviolet;
}

.headerTitle {
  font-size: 4rem;
  text-align: center;
  margin-bottom: 2rem;
}

.btnsSection {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  width: 100%;
  gap: 1rem ;
}

.list {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.listItem {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5rem;

  font-size: 1.6rem;

  padding: .4rem;
  background-color: rgba(105, 105, 105, 0.1);
  border-radius: .8rem;
}


.itemNumber {
  font-size: inherit;
  opacity: .5;
  padding: .5rem 1rem;
  border-radius: 1rem;
}

.itemTitle {
  font-size: inherit;
}
